@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway:wght@500&family=Roboto&display=swap" );
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");

/*SLIDER*/

/*FOOTER*/

/*SHOP*/

.item {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin:var(--spacing-28) 0 ;
  gap:var(--spacing-36);
}
.cart-show-item{
  margin:var(--spacing-8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }
.cart-items__content{
  display: flex;
  width:50%;
}
.cart-show-item__saga{
  margin-top: var(--spacing-8);
  font-size: var(--font-xsmall);
  font-weight: 500;
  color:var(--dark-bg-solid);
}
.cart-show-item__title{
  display: flex;
  font-size: var(--font-large);
  font-weight: 700;
}
.cart-show__price{
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: 600;
  margin-left:auto;
}
.cart-show__price::before{
  content:"$";
}
.show-item__text{
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight: 400;
  line-height: 29.05px;
}
.show-item__price{
  font-weight: 400;
  font-size:var(--font-x-small) ;
}
.add__cart{
  display: flex;
  gap: var(--spacing-8);
  padding: var(--spacing-8) 0;
  align-items: center;
  margin:var(--spacing-16) var(--spacing-28);
}
.add__cart button {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  border: none;
  width: var(--spacing-16);
  cursor: pointer;
}
.add__cart__buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:var(--spacing-8);
}
.item-info{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.item__quantity{
  cursor: pointer;
  font-size: var(--font-medium);
  font-family: var(--base-font);
  color: var(--light-font-solid);
  background-color: var(--dark-bg-solid);
  padding: 8px;
  margin: 5px;
}

.add__cart .item__submit{
  width:var(--spacing-128);
  background-color: var(--primary-solid);
  height:35px;
} 
 .custom-number-input input {
  text-align: center;
  border: none;
  width: 105px;
  font-size: 16px;
} 
 /* ---------Carrito------------- */
.cart__title ,  .cart__resumen{
  display: inline-flex;
  text-decoration:underline solid var(--primary-solid);
  text-underline-offset: var(--spacing-12);
  font-family: var(--alternative-font);
  font-weight: 700;
  padding: 0 var(--spacing-8) ;
  font-size: var(--font-display);
  margin: var(--spacing-28);
  margin-top: var(--spacing-68);
}
.cart__resumen {
  justify-content: flex-end;
}
.grid-container{
  margin:auto;
  display:grid;
  grid-template-rows: 50px 195px 195px;
  text-align: center; 
  padding: var(--spacing-12);
  grid-gap:var(--spacing-36);
}
.grid-items__head , .cart-items__show{
  display:flex;
  background-color: var(--ligth-bg-solid);
  gap: var(--spacing-8);
  border-radius: 10px;
  padding: var(--spacing-16);
  box-shadow:   0 0 8px 0 var(--dark-300); 
} 
.grid-items__head {
  grid-template-columns: 30% 30% 30%;
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 51px;
}
.grid-item p{
  font-size: var(--font-small);
  font-weight: 700;
  padding: var(--spacing-16);
}
.item__input__cart{
  font-size: var(--font-medium);
  font-weight: 700;
  padding:var(--spacing-8) ;
  width: var(--spacing-68);
  border-radius: 2px;
  border-color: var(--dark-300);
  text-align: center;
}
.cart-detalle{
  display:inline-flex;
  align-items: center;
}
.cross{
  font-size:var(--font-large);
  color: var(--primary-solid);
  display:inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5%;
}
.resumen{
  width: 40%;
margin-left: 60%;
}
.cart-items__show--list{
  flex-direction: column;
  text-align: left;
  width: 100%;
}
.cart-items__show--list-item{
  margin: var(--spacing-16);
  font-size:var(--font-xsmall);
  font-weight: 600;
}
.cart-items__show--list-item .total {
  font-weight:700;
}
.cart-items__show--list__line{
  margin: 0 var(--spacing-16) ;
  border-color:var(--primary-solid);
}
.cart-items__button{
  width:40%;
  margin-left: 60%;
  background-color: var(--primary-solid);
  padding:var(--spacing-8);
  border-radius: 4px;
  border:none;
  color:var(--light-font-solid);
  margin-bottom: var(--spacing-128);
  font-weight: 700;
} 

   @media screen and (max-width:950px) and (min-width:620px) {
  .card-item__name{
      min-height: 42px;
    }} 